# build directory
BUILD/
RPMS/
SOURCES/
SPECS/

*.pyc

_os
_arch
_distribution

# ignore version.mk
rocks-version.mk
rocks-version-common.mk

# ignore python.mk
python.mk

# ignore Rules files
Rules*.mk
Rolls.mk
spark.spec*

# binaries files
src/spark/spark*gz
src/spark/spark*.md5
